.navbar-brand>img{
    display: inline;
    padding-right: 15px;
}

.entry .entry-title {
    margin-bottom: 0
}

.main{
    padding-bottom: 0;
}

.owl-carousel .owl-item{
    max-height: 193px;
}

.fixed-footer{
    position: inherit;
}

.no-margin{
    margin:0;
}

.entry-date{
    background-color: inherit;
    color: #d5df4c;
}

body{
    background-color: #fff;
}