.navbar-brand>img{
    display: inline;
    padding-right: 15px;
}

.entry .entry-title {
    margin-bottom: 0
}

.main{
    padding-bottom: 0;
}

.owl-carousel .owl-item{
    max-height: 193px;
}

.fixed-footer{
    position: inherit;
}

.no-margin{
    margin:0;
}

.entry-date{
    background-color: inherit;
    color: #d5df4c;
}

.fun-title{
    font-family: "Dosis";
    font-size: 30px;
    color: #723298;
}

.fun-subtitle{
    font-size: 20px;
}

.fun-text{
    font-family: Delius;
    font-size: 18px;
}

.fun-subtext{
    font-size: 16px;
}

.title > span {
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 400;
    border: 2px solid black;
    outline-offset: inherit;
}

.navbar-brand{
    font-size: 18px;
}

body{
    background-color: #fff;
}