/*//////////////////////////////////////////
///----------------------------------------
//------- Ona Template - Colors
// ------ Color Hex code: #fdd835
///----------------------------------------
//////////////////////////////////////////*/

a:active,
a:hover,
a:focus,
.social-icon:hover,
.social-icon:focus,
#mobile-nav-close:hover,
#mobile-nav-close:focus,
.nav.navbar-nav li.active > a,
.nav.navbar-nav li.open > a, 
.nav.navbar-nav li.open > a,
.nav.navbar-nav > li > a:focus, 
.nav.navbar-nav > li > a:hover,
.dropdown-menu li.active > a,
.dropdown-menu li.active > a:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.open > a,
.dropdown-menu li.open > a:hover,
.dropdown-menu li.open > a:focus,
.dropdown-menu li li.open > a,
.dropdown-menu li li.open > a:hover,
.dropdown-menu li li.open > a:focus,
.dropdown-menu li:hover > a,
.dropdown-menu li:focus > a,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.portfolio-title a:hover,
.portfolio-title a:focus,
.reply-link,
.link-container a:hover,
.link-container a:focus,
.btn.btn-red,
.footer-top i {
	color:#fdd835;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.nav-open .navbar-toggle,
.navbar-toggle:hover,
.btn.btn-white-red:hover,
.btn.btn-white-red:focus,
.btn.btn-white-red.focus,
.btn.btn-white-block:hover,
.btn.btn-white-block:focus,
.btn.btn-white-block.focus {
	background-color: #fdd835;
	border-color: #fdd835;
}

.newsletter-container .btn:hover,
.newsletter-container .btn:focus,
#portfolio-filter li a:hover,
#portfolio-filter li a:focus,
.popup-item:hover,
.popup-item:focus,
.tagcloud a:hover,
.tagcloud a:focus,
.pricing-table .label,
.form-control:focus + .input-desc,
.form-control:focus + label + .input-desc,
.form-control.light:focus + .input-desc,
.form-control.light:focus + label + .input-desc,
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.focus,
.owl-prev:hover,
.owl-next:hover {
	background-color: #fdd835;
}


.form-control:focus,
.btn.btn-red {
	border-color: #fdd835;
}